Pr/
GXbootser/
smartfarming/
mms/
*.zip

irrigation-water-requirement-prediction-using-ml.ipynb
notebook_irrigation_need_float.ipynb
notebook_siri_same_as_upload_with_dataset.ipynb 
notebook_siri_same_as_upload.ipynb